@if (breadcrumbs.length > 0) {
  <div class="breadcrumb-container" aria-label="breadcrumb">
    @for (crumb of breadcrumbs; track $index; let last = $last) {
      @if (!last) {
        <a
          [routerLink]="crumb.url"
          [queryParams]="crumb.queryParams ?? {}"
          class="breadcrumb-link"
          >{{ crumb.label }}</a
        >
      }
      @if (last) {
        <span class="breadcrumb-current">{{ crumb.label }}</span>
      }
      @if (!last) {
        <span class="breadcrumb-separator">/</span>
      }
    }
  </div>
}

<!-- @if (breadcrumbs.length > 0) {
  <div class="breadcrumb-container" aria-label="breadcrumb">
    @for (crumb of breadcrumbs; track $index; let last = $last) {
      @if (!last) {
        <a [routerLink]="crumb.url" class="breadcrumb-link">{{ crumb.label }}</a>
      }
      @if (last) {
        <span class="breadcrumb-current">{{ crumb.label }}</span>
      }
      @if (!last) {
        <span class="breadcrumb-separator">/</span>
      }
    }
  </div>
} -->
