<div class="login-wrapper">
  <div class="login-card">
    <h1>Welcome Back</h1>
    <p>Login to access to your account</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <div class="input-box">
        <mat-icon class="material-icons-outlined">email</mat-icon>
        <input
          id="email"
          type="email"
          placeholder="Enter your email"
          [formControl]="form.controls.email"
        />
      </div>

      <div class="error">
        @if (email.errors?.['required'] && email.touched) {
          <p class="error-line">Email is required.</p>
        }

        @if (email.errors?.['email'] && email.touched) {
          <p class="error-line">Enter a valid email.</p>
        }

        @if (email.errors?.['emailNotRegistered'] && email.touched) {
          <p class="error-line">Email is not registered</p>
        }
      </div>

      <label for="password">Password</label>
      <div class="input-box">
        <mat-icon>lock</mat-icon>
        <input
          id="password"
          type="password"
          placeholder="Enter your password"
          formControlName="password"
        />
      </div>

      <div class="error">
        @if (password.errors?.['required'] && password.touched) {
          <p class="error-line">Password required</p>
        }

        @if (password.errors?.['minlength'] && password.touched) {
          <p class="error-line">Minimum 6 characters</p>
        }
        @if (password.errors?.['invalidPassword'] && password.touched) {
          <p class="error-line">Invalid password</p>
        }
      </div>

      <!-- <button type="submit" class="login-btn">
        @if (isLoading) {
          <span>Logging in...</span>
          <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
        } @else {
          <span>Login</span>
        }
      </button> -->

      <button type="submit" class="login-btn">
        @if (isLoading) {
          <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
        } @else {
          Login
        }
      </button>

      <!-- <button type="submit">Login</button> -->
    </form>

    <div class="signup-link">
      Don't have an account?
      <a routerLink="/signup">Sign Up</a>
    </div>
  </div>
</div>
