<nav class="navbar">
  <div class="category-btn" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon> SHOP BY CATEGORIES
  </div>

  @if (isSidebarOpen) {
    <div class="overlay" (click)="closeSidebar()"></div>
  }

  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar-header">
      <!-- <a href="" routerLink="/login"><mat-icon>person</mat-icon>Hello, sign In</a> -->
      @if (!isLoggedIn) {
        <a
          [routerLink]="isLoggedIn ? '/' : '/login'"
          routerLinkActive="active"
          class="btn secondary"
          ><mat-icon>person</mat-icon>Hello, sign In</a
        >
      } @else {
        <div class="avatar-container">
          <div class="name-box">
            <img (click)="toggleMenu($event)" src="/avatar.png" alt="" class="avatar-img" />

            <span>Hello, {{ user()?.firstName }} {{ user()?.lastName }}</span>
          </div>

          @if (isMenuOpen) {
            <div class="overlay" (click)="closeMenu()"></div>
            <div class="dropdown-login">
              <button (click)="logout()">Logout</button>
            </div>
          }
        </div>
      }

      <button (click)="closeSidebar()">
        <mat-icon>closeSidebar</mat-icon>
      </button>
    </div>

    <ul class="sidebar-item">
      @for (menus of menu; track menus) {
        <h2>{{ menus.title }}</h2>

        @for (item of menus.items; track item.name) {
          <li>
            {{ item.name }}

            @if (item.hasArrow) {
              <mat-icon class="arrow">chevron_right</mat-icon>
            }
          </li>
        }
      }
    </ul>
  </div>

  <div class="nav-wrapper" (mouseleave)="closeDropdown()">
    <ul class="nav-item">
      @for (cat of categories; track cat.name) {
        <li
          class="nav-link"
          (mouseenter)="openDropdown(cat, $event)"
          (click)="goToMainCategory(cat.name)"
        >
          {{ cat.name }}
        </li>
      }
    </ul>

    <!-- DROPDOWN -->
    @if (isDropdownOpen && selectedCategory) {
      <div class="dropdown" [ngStyle]="{ 'left.px': dropdownLeft, 'top.px': dropdownTop }">
        <h4>{{ selectedCategory.name }}</h4>

        <ul>
          @for (sub of selectedCategory.subcategories; track sub) {
            <li (click)="goToSubCategory(sub)">
              {{ sub.label }}
            </li>
          }
        </ul>
      </div>
    }
  </div>

  <!-- <div class="nav-wrapper" (mouseleave)="isDropdownOpen = false">
    <ul class="nav-item">
      @for (item of categories; track item) {
        <li class="nav-link" (mouseenter)="openDropdown(item, $event)">
          {{ item }}
        </li>
      }
    </ul>

  
    @if (isDropdownOpen) {
      <div class="dropdown" [ngStyle]="{ 'left.px': dropdownLeft, 'top.px': dropdownTop }">
        <h4>{{ selectedCategory }}</h4>

        <ul>
          @for (product of categoryProducts[selectedCategory]; track $index) {
            <li (click)="getProductList()">{{ product }}</li>
          }
        </ul>
      </div>
    }
  </div> -->

  <div class="delivery">🚀 Free International Delivery</div>
</nav>
