* {
  box-sizing: border-box;
}

.top-header {
  width: 100%;
  background: white;
  font-family: Arial, sans-serif;
  padding: 18px 5rem;
  padding-bottom: 8px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
  align-items: center;
  padding-bottom: 10px;
  gap: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo a {
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-bottom: 4px;
}

.logo small {
  font-size: 11px;
  letter-spacing: 2px;
}

.search-box {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 600px;
  border-radius: 8px;
  /* overflow: hidden; */
  border: 1px solid transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* overflow: hidden; */
  background: #f3f3f3;
}

.search-box input {
  width: 100%;
  height: 40px;
  padding: 14px;
  border: none;
  outline: none;
  background: #f3f3f3;
  font-size: 16px;
  background: transparent;
}

.search-box input:focus {
  outline: none;
  box-shadow: none;
}

.search-box button {
  background-color: #f3a847;
  color: #131921;
  padding: 0 12px;
  border-radius: 0 6px 6px 0;
  height: 40px;
  border: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 0; */
}

.search-dropdown {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;

  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);

  max-height: 250px;
  overflow-y: auto;

  z-index: 9999;
}

/* .search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  background: white;
  border: 1px solid #ddd;
  z-index: 9999;

  max-height: 200px;
  overflow-y: auto;
} */

.dropdown-item {
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.dropdown-item.active {
  background: #ffe7c2;
  font-weight: 500;
}

.search-dropdown::-webkit-scrollbar {
  width: 6px;
}

.search-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* .search-box button mat-icon {
  font-size: 22px;
} */

/* .search-box button {
  padding: 4px;
  border: none;
  outline: none;
  background: #dee2e6;
  cursor: pointer;
} */

.search-box:focus-within {
  border-color: #f3a847;
  box-shadow: 0 0 0 2px rgba(243, 168, 71, 0.3);
}

/* .search-box:focus-within {
  box-shadow: 0 0 0 1px #f3a847;
} */

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile div {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  gap: 1rem;
}

.icon a {
  font-size: 14px;
  padding: 8px;
  height: 40px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-icon {
  color: black;
}

.icon a:hover {
  border: 1px solid black;
}

.cart-icon {
  color: black;
}

/* .icon span {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 11px;
  border-radius: 50%;
  padding: 2px 5px;
} */

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 40px;
  padding: 0 8px;
  position: relative;
  gap: 10px;
  box-sizing: border-box;
}

.login-section span {
  font-weight: 500;
}

.btn {
  border: 1px solid black;
  cursor: pointer;
  color: black;
  padding: 5px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  background: #f3a847;
}

.btn:hover {
  background: #de9638;
}

.avatar-container {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 160px;

  background: #ffffff;
  border-radius: 10px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12); */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

  overflow: hidden;
  z-index: 1000;

  animation: fadeIn 0.15s ease-in-out;
}

.dropdown button {
  width: 100%;
  padding: 12px 15px;

  background: transparent;
  border: none;
  text-align: left;

  font-size: 14px;
  cursor: pointer;
  color: #333;

  transition: 0.2s;
}

.dropdown button:hover {
  background: #e9ecef;
}

.overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 999;
}

.dropdown button {
  display: flex;
  align-items: center;
  gap: 4px;
}

.person {
  font-size: 22px;
}

.logout {
  font-size: 22px;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;

  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fav-icon {
  position: relative;
  display: inline-block;
}

.fav-badge {
  position: absolute;
  top: -8px;
  right: -10px;

  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
