@if (errorMsg) {
  <app-error />
} @else if (product) {
  <div class="product-details">
    <div class="product-details-card">
      <!-- Left -->
      <div class="img-section">
        @if (showWishlistIcon) {
          <div class="fav-icon">
            <button (click)="addToWishlist(product); $event.stopPropagation()">
              <mat-icon [ngClass]="{ 'active-wish': isWishlisted(product.id!) }">
                {{ isWishlisted(product.id!) ? 'favorite' : 'favorite_border' }}
              </mat-icon>
            </button>
          </div>
        }

        <img [src]="product.image" [alt]="product.title" class="product-thumbnail" />

        <div>
          @if (product.stock > 0) {
            <div class="button-group">
              <button (click)="addToCart(product)" class="cart-button">Add to Cart</button>

              <button (click)="buyNow(product)" class="buy-button">Buy Now</button>
            </div>
          }
        </div>
      </div>

      <!-- Right -->
      <div class="info-section">
        <h2>{{ product.title }}</h2>

        <div class="rating">
          @for (star of stars; track $index) {
            <span [ngClass]="star">&#9733;</span>
          }
          <span class="rating-number">({{ product.rating || 0 }})</span>
        </div>

        <div class="price-stock">
          <p class="stock" [ngClass]="{ 'out-of-stock': product.stock === 0 }">
            {{ product.stock > 0 ? product.stock + ' in stock' : 'Out of Stock' }}
          </p>

          <!-- <p class="price">₹{{ product.price | number: '1.2-2' }}</p> -->

          <div class="price-box">
            <div>
              @if (product.discount && product.discount > 0) {
                <span class="discount"> -{{ product.discount }}% </span>
              }

              <span class="final-price">
                ₹{{ getDiscountPrice(product) | number: '1.0-0' }}.00</span
              >
            </div>

            <p class="original-price-mrp">
              M.R.P.: <span class="original-price">₹{{ product.price | number: '1.0-0' }}.00</span>
            </p>
          </div>
        </div>

        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Brand:</strong> {{ product.brand }}</p>
        <p><strong>Color:</strong> {{ product.color }}</p>

        <p class="description">
          <strong>Description:</strong>
          {{ product.description }}
        </p>
      </div>
    </div>
  </div>
} @else {
  <p>No Data!</p>
}

<!-- @if (isLoading) {
  <app-loader />
} @else if (errorMsg) {
  <app-error />
} @else if (product) {
  <div class="product-details">
    <div class="product-details-card">
      <div class="img-section">
        @if (showWishlistIcon) {
          <div class="fav-icon">
            <button (click)="addToWishlist(product); $event.stopPropagation()">
              <mat-icon [ngClass]="{ 'active-wish': isWishlisted(product.id) }">
                {{ isWishlisted(product.id) ? 'favorite' : 'favorite_border' }}
              </mat-icon>
            </button>
          </div>
        }

        <img [src]="product.thumbnail" [alt]="product.title" class="product-thumbnail" />
        <div class="product-images">
          @for (img of product.images; track $index) {
            <img [src]="img" [alt]="product.title + ' image ' + ($index + 1)" class="product-img" />
          }
        </div>
        <div>
          @if (product.stock > 0) {
            <div class="button-group">
              <button (click)="addToCart(product)" class="cart-button">Add to Cart</button>
              <button (click)="buyNow(product)" class="buy-button">Buy Now</button>
            </div>
          }
        </div>
      </div>

      <div class="info-section">
        <h2>{{ product.title }}</h2>

        <div class="rating">
          @for (star of stars; track $index) {
            <span [ngClass]="star">&#9733;</span>
          }
          <span class="rating-number">({{ product.rating }})</span>
        </div>

        <div class="price-stock">
          <p class="stock" [ngClass]="{ 'out-of-stock': product.stock === 0 }">
            {{ product.stock > 0 ? product.stock + ' in stock' : 'Out of Stock' }}
          </p>
          <p class="price">
            ₹{{ product.price | number: '1.2-2' }}
            <span class="discount">({{ product.discountPercentage }}% OFF)</span>
          </p>
        </div>

        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Brand:</strong> {{ product.brand }}</p>
        <p><strong>SKU:</strong> {{ product.sku }}</p>
        <p><strong>Tags:</strong> {{ product.tags.join(', ') }}</p>

        <p><strong>Availability:</strong> {{ product.availabilityStatus }}</p>

        <p><strong>Description:</strong> {{ product.description }}</p>

        <div class="additional-info">
          <p><strong>Weight:</strong> {{ product.weight }} g</p>
          <p>
            <strong>Dimensions:</strong> W: {{ product.dimensions.width }} × H:
            {{ product.dimensions.height }} × D: {{ product.dimensions.depth }}
          </p>
          <p><strong>Warranty:</strong> {{ product.warrantyInformation }}</p>
          <p><strong>Shipping:</strong> {{ product.shippingInformation }}</p>
          <p><strong>Return Policy:</strong> {{ product.returnPolicy }}</p>
          <p><strong>Minimum Order Quantity:</strong> {{ product.minimumOrderQuantity }}</p>
        </div>

        <div class="meta-info">
          <p><strong>Created At:</strong> {{ product.meta.createdAt | timeAgo }}</p>
          <p><strong>Updated At:</strong> {{ product.meta.updatedAt | timeAgo }}</p>
          <p><strong>Barcode:</strong> {{ product.meta.barcode }}</p>
          <p>
            <strong>QR Code:</strong> <a [href]="product.meta.qrCode" target="_blank">View QR</a>
          </p>
        </div>

        @if (product.reviews.length > 0) {
          <div class="reviews">
            <h3>Reviews:</h3>

            <div class="review-card">
              <p>
                <strong>{{ product.reviews[0].reviewerName }}</strong> ({{
                  product.reviews[0].rating
                }}
                / 5)
              </p>
              <p>{{ product.reviews[0].comment }}</p>
              <p class="review-date">{{ product.reviews[0].date | date: 'medium' }}</p>
            </div>

            @if (product.reviews.length > 1) {
              <button class="see-more-btn" (click)="openReviewsPopup()">See More</button>
            }
          </div>

          @if (isPopupOpen) {
            <div class="reviews-modal">
              <div class="modal-content">
                <span class="close-btn" (click)="closeReviewsPopup()">&times;</span>
                <h3>All Reviews</h3>
                @for (review of product.reviews; track $index) {
                  <div class="review-card">
                    <p>
                      <strong>{{ review.reviewerName }}</strong> ({{ review.rating }} / 5)
                    </p>
                    <p>{{ review.comment }}</p>
                    <p class="review-date">{{ review.date | date: 'medium' }}</p>
                  </div>
                }
              </div>
            </div>
          }
        }
      </div>
    </div>
  </div>
} @else {
  <p>No Data!</p>
} -->
