<div class="sidebar">
  <!-- Logo Section -->
  <div class="logo">
    <h2>SnapCart Admin</h2>
  </div>

  <!-- Menu Section -->
  <ul class="menu">
    <li routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </li>

    <li routerLink="/admin/users" routerLinkActive="active">Users</li>

    <li routerLink="/admin/products" routerLinkActive="active">Products</li>

    <li routerLink="/admin/orders" routerLinkActive="active">Orders</li>
  </ul>
</div>
