@if (isLoading()) {
  <app-loader />
} @else {
  <div class="wishlist-container">
    <h2 class="wishlist-title">My Wishlist</h2>

    @if (wishlistCount() > 0) {
      <div class="wishlist-container-grid">
        @for (product of wishlistItems(); track product.id) {
          <div class="wishlist-card">
            <div (click)="viewDetails(product.id!)" class="wishlist-card-details">
              <div class="img-box">
                <img [src]="product.image" [alt]="product.title" />
              </div>

              <div class="details">
                <h3>{{ product.title }}</h3>

                <div class="rating">
                  @for (star of getRating().getStars(product.rating || 0); track $index) {
                    <span [ngClass]="star">&#9733;</span>
                  }
                  <span class="rating-number">({{ product.rating || 0 }})</span>
                </div>

                <p class="category">
                  <strong>Category:</strong> {{ product.subCategory | categoryLabel }}
                </p>

                <!-- <p class="category"><strong>Category:</strong> {{ product.category }}</p> -->
                <p class="brand"><strong>Brand:</strong> {{ product.brand }}</p>

                <div class="price-box">
                  <div>
                    @if (product.discount && product.discount > 0) {
                      <span class="discount"> -{{ product.discount }}% </span>
                    }

                    <span class="final-price">
                      ₹{{ getDiscountPrice(product) | number: '1.0-0' }}.00</span
                    >
                  </div>

                  <p class="original-price-mrp">
                    M.R.P.:
                    <span class="original-price">₹{{ product.price | number: '1.0-0' }}.00</span>
                  </p>
                </div>

                <!-- <p class="price">
              ₹ {{ product.price | number: '1.2-2' }}
              <span class="discount"> ({{ product.discount || 0 }}% OFF) </span>
            </p> -->
              </div>
            </div>

            <div class="actions">
              @if (product.stock > 0) {
                <button (click)="addToCart(product, $event)" class="cart-btn">Add to Cart</button>
              }

              <button class="remove-btn" (click)="removeFromWishlist(product.id!, $event)">
                Remove
              </button>
            </div>
          </div>
        }
      </div>
    } @else {
      <p class="empty-msg">Wishlist is empty!</p>
    }
  </div>
}
