<h2>My Orders</h2>

@if (orders().length > 0) {
  @for (order of orders(); track order.id) {
    <div class="card-box">
      <p><strong>Order ID:</strong> {{ order.id }}</p>

      <p>
        <strong>Placed On:</strong>
        {{ order.createdAt | date: 'medium' }}
      </p>

      <p>
        <strong>Total:</strong>
        ₹ {{ order.total | number: '1.0-0' }}.00
      </p>

      <p>
        <strong>Status:</strong>
        {{ order.status | titlecase }}
      </p>

      <h3>Products</h3>

      @for (item of order.items; track item.productId) {
        <div class="order-product" (click)="viewProductDetails(item.productId)">
          <img [src]="item.image" />

          <div>
            <h4>{{ item.title }}</h4>
            <p>Qty: {{ item.quantity }}</p>

            <div class="price-box">
              <div>
                @if (item.discount && item.discount > 0) {
                  <span class="discount"> -{{ item.discount }}% </span>
                }

                <span class="final-price">
                  ₹{{ getDiscountPrice(item) | number: '1.0-0' }}.00
                </span>
              </div>

              <p class="original-price-mrp">
                M.R.P.:
                <span class="original-price"> ₹{{ item.price | number: '1.0-0' }}.00 </span>
              </p>
            </div>
            <!-- <p>₹ {{ getDiscountPrice(item) * item.quantity | number: '1.0-0' }}.00</p> -->
          </div>
        </div>
      }
    </div>
  }
} @else {
  <div class="card-box">
    <p>No orders yet</p>
  </div>
}
