<h2>Address Book</h2>

<button (click)="openAddressPopup()">Add New Address</button>

@if (user()?.addresses?.length) {
  @for (addr of user()?.addresses; track $index; let i = $index) {
    <div class="card-box">
      <p>
        <strong>{{ addr.fullName }}</strong>
      </p>
      <p>{{ addr.address }}, {{ addr.city }}, {{ addr.state }} - {{ addr.pinCode }}</p>
      <!-- <p>{{ addr.city }}, {{ addr.state }} - {{ addr.pinCode }}</p> -->
      <p><strong>Landmark</strong>: {{ addr.landmark }}</p>
      <p>{{ addr.phone }}</p>

      <div class="card-btn">
        <button (click)="editAddress(i)">Edit</button>
        <button (click)="deleteAddress(i)">Delete</button>
      </div>
    </div>
  }
} @else {
  <div class="card-box">
    <p>No saved address yet.</p>
  </div>
}

@if (showAddressPopup()) {
  <div class="popup" (click)="showAddressPopup.set(false)">
    <div class="popup-box" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h3>
          {{ editAddressIndex() !== null ? 'Edit Address' : 'Add New Address' }}
        </h3>

        <button (click)="showAddressPopup.set(false)">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="form-row">
        <div class="input-box">
          <label for="fullName">Full Name</label>
          <input
            [ngModel]="newAddress().fullName"
            (ngModelChange)="updateField('fullName', $event)"
            placeholder="Full Name"
          />
        </div>

        <div class="input-box">
          <label for="phone">Phone no.</label>
          <input
            [ngModel]="newAddress().phone"
            (ngModelChange)="updateField('phone', $event)"
            placeholder="Phone"
          />
        </div>
      </div>

      <div class="input-box">
        <label for="email">Email</label>
        <input
          [ngModel]="newAddress().email"
          (ngModelChange)="updateField('email', $event)"
          placeholder="Email"
        />

        <label for="address">Address</label>
        <input
          [ngModel]="newAddress().address"
          (ngModelChange)="updateField('address', $event)"
          placeholder="Address"
        />

        <label for="landmark">Landmark</label>
        <input
          [ngModel]="newAddress().landmark"
          (ngModelChange)="updateField('landmark', $event)"
          placeholder="Landmark"
        />

        <label for="city">City</label>
        <input
          [ngModel]="newAddress().city"
          (ngModelChange)="updateField('city', $event)"
          placeholder="City"
        />
      </div>

      <div class="form-row">
        <div class="input-box">
          <label for="state">State</label>
          <input
            [ngModel]="newAddress().state"
            (ngModelChange)="updateField('state', $event)"
            placeholder="State"
          />
        </div>

        <div class="input-box">
          <label for="pinCode">PIN Code</label>
          <input
            [ngModel]="newAddress().pinCode"
            (ngModelChange)="updateField('pinCode', $event)"
            placeholder="PIN Code"
          />
        </div>
      </div>

      <div class="popup-btn">
        <!-- <button (click)="showAddressPopup.set(false)">Cancel</button> -->

        <button (click)="saveAddress()">
          {{ editAddressIndex() !== null ? 'Update Address' : 'Save Address' }}
        </button>
      </div>
    </div>
  </div>
}
