.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.slider-viewport {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 16px;

  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.product-card {
  min-width: 11.5%;
  /* min-width: calc(100% / 8); */
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.product-card img:hover {
  transform: scale(1.05);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.6);
  color: white;

  border: none;
  cursor: pointer;
}

.nav:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.nav mat-icon {
  font-size: 26px;
}
